// Colors - https://www.color-blindness.com/color-name-hue/
$color-knight-rider: #333;
$color-silver: silver;
$color-white: white;
$color-black: black;
$color-midgrey: #686a6f;
$color-orange: #FFA500;
$color-grape: #43414e;
$color-san-marino: #536DA7;
$color-white-smoke: #F1F1F1;
$color-gray-smoke: #e9e9e9;
$color-very-light-gray: #cdcdcd;
$color-nero: #232323;
$color-raven: #6c757d;

// Colors applied
$primary-text-color: $color-knight-rider;
$separator-color: $color-silver;
$border-light-color: $separator-color;
$background-color: $color-white;
$background-color-hover: $color-white-smoke;
$separator-border-color: $separator-color;
$a-hover-color: $color-black;
$a-hover-underline: $color-grape;
$a-visited: $color-midgrey;
$a-link: $color-midgrey;
$a-link-color: $color-san-marino;
$h2-color: $color-raven;
$menu-hamburger-color: $color-very-light-gray;
$menu-close-cross-color: $color-nero;
$menu-background-color: $color-white-smoke;

// Weights and Measures
$a-link-weight: 600;
$separator-border-width: 1px;
$separator-border-style: solid;
$font-size-subtext: .75rem;
$font-size-badge: .7rem;

body {
	background-color: $background-color;

	.overlay-background {
		background: $color-gray-smoke;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		opacity: 0.5;
		z-index: 100;
	}


	margin: 0;
	color: $primary-text-color;

	@media (min-width: 768px) {
		padding: 20px 0px 60px 0px;
	}

	a:visited {
		color: $a-visited;
		text-decoration: none;
	}

	a:link {
		color: $a-visited;
		text-decoration: none;
	}

	a:hover {
		color: $a-hover-color;
		border-bottom: $separator-border-width $separator-border-style $a-hover-underline;
	}

	code {
		display: block;
		margin: 20px 0px;
		border: $separator-border-width $separator-border-style $border-light-color;
		border-radius: 10px;
		padding: 15px;
		background-color: $background-color-hover;
	}

	h1 {
		margin-bottom: 1.75rem;
	}

	.series-posts h1,
	.comments h1 {
		margin: 1.5rem 0 0.75rem;
	}

	h2 {
		margin: 1.5rem 0 0.75rem;
		color: $h2-color;
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	h4 {
		font-size: 1rem;
	}

	.blog-header {
		width: 100%;
		height: 110px;
		border-bottom: $separator-border-width $separator-border-style $border-light-color;
		padding: 0px 0px;
		margin-bottom: 50px;

		.header-logo {
			float: left;
			text-align: center;

			a:hover {
				border-bottom: none;
			}
		}

		ul.header-nav {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				display: inline;

				a {
					text-align: center;
					margin: 14px 16px;
					text-decoration: none;
				}

				.external-links {
					float : right;
				}
			}
		}

		.search-box-container {
			text-align: right;

			#search-terms {
				border-radius: 10px;
				padding: 5px;
			}
		}

		.search-results-container {
			position:absolute;
			top:75%;
			left:25%;
			width: 50%;
			min-height: 480px;
			background-color: $color-white;
			border: $separator-border-width $separator-border-style $separator-border-color;
			border-radius: 10px;
			z-index: 10000;

			@media (max-width: 768px) {
				width: 75%;
				left: 12%;
				top: 125%;
			}

			.close-search-overlay {
				text-align: left;
				margin-left: 10px;

				.x {
					font-weight: $a-link-weight;
					font-size: 2rem;
					cursor: pointer;
				}
			}

			ul.search-results-overlay {
				text-align: left;
				list-style-type: none;
				overflow-x: hidden;
				padding-right: 25px;

				li {
					border-bottom: $separator-border-width $separator-border-style $separator-border-color;
					padding: 10px 0px;
					a {
						color: $color-black;
						font-weight: $a-link-weight;
					}

				}

				li:hover {
					background-color: $background-color-hover;
				}
			}
		}
	}

	.nav-bar {
		width: 100%;
		height: 60px;
	}

	.Content {
		flex: 1;
		display: flex;
		flex-direction: column;

		.post {
			a {
				color: $a-link-color;
				font-weight: $a-link-weight;
			}
		}

		.slide-show {
			margin: 40px 0px;
			height: 480px;

			.slide-show-image-col {
				text-align: center;
			}

			.caret {
				margin: 25% auto;
				font-size: 2rem;
				cursor: pointer;
				font-weight: 900;
			}

			ul.slide-show-list {
				list-style: none;
				margin: 0;
				padding: 0;

				.image-container {
					width: 100%;
					height: 100%;

					border: 12px $separator-border-style $separator-border-color;
					border-radius: 12px;

					img {
						width: 500px;
						height: 100%;
					}
				}

				.slide-show-image-caption {
					font-weight: 500;
				}

				ul.image-pagination {
					margin: 0;
					padding: 0;
					list-style-type: none;
					overflow-wrap: anywhere;

					li {
						display: inline;
						margin: 0px 5px;
						cursor: pointer;
						color: $a-link-color;
					}

					li:hover {
						color: $a-hover-color;
						border-bottom: $separator-border-width $separator-border-style $a-hover-underline;
					}
				}
			}
		}

		.series-posts, .image-posts, .category-posts {
			ul {
				list-style-type: none;
				padding-left: 5px;

				li {
					list-style-type: none;
					margin-bottom: 15px;
					width: 75%;

					a {
						color: $a-link-color;
						font-weight: $a-link-weight;
					}
				}
			}
		}

		.comments {
			margin-top: 30px;
		}

		.comment-container {
			margin: 10px 0px;

			.comment-reply {
				.comment-reply-content {
					margin: 10px 0px 10px 25px;
				}

				.comment-reply-info {
					float: right;
				}
			}

			.comment-reply-cancel-text {
				display: inline;
				color: $color-orange;
				font-size: .8em;
			}

			.comment-reply-cancel-text:hover {
				cursor: pointer;
				color: $a-hover-color;
			}

			.comment-separator {
				border: $separator-border-width $separator-border-style $separator-border-color;
				margin: 10px;
			}
		}

		.comment-posted {
			font-size: 1.5rem;
		}

		.comment-form-container {
			margin-bottom: 50px;

			input[type=text], input[type=email], textarea {
				width: 50%;
				display: block;
				margin-bottom: 10px;

				@media (max-width: 768px) {
					width: 100%;
				}
			}
		}

		.category-posts, .series, .categories, .image-posts {
			.category-post, .series-entry, .category, .image-post-entry {
				margin-bottom: 30px;

				.publish-date {
					font-size: $font-size-subtext;
				}

				.badge {
					margin-left: 8px;
					font-size: $font-size-badge;
				}
			}
		}

		.list-teaser {
			font-size: .85rem;
		}
	}

	aside {
		ul {
			list-style-type: none;
			padding-left: 5px;

			li {
				list-style-type: none;
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: $separator-border-width $separator-border-style $separator-border-color;
				width: 75%;

				.badge {
					margin-left: 5px;
					font-size: $font-size-badge;
				}
			}
		}

		.aside-sub-section {
			font-size: $font-size-subtext;
		}
	}
}


// Mobile Menu
@media (min-width: 768px) {
	#menu-toggle {
		display: none;
	}
}

@media (max-width: 768px) {
	.header-nav {
		display: none;
	}

	// taken from https://codepen.io/erikterwan/pen/EVzeRP
	#menu-toggle {
		display: block;
		position: absolute;
		top: 20px;
		left: 20px;
		z-index: 1;
		-webkit-user-select: none;
		user-select: none;

		input {
			display: block;
			width: 40px;
			height: 32px;
			position: absolute;
			top: -7px;
			left: -5px;
			cursor: pointer;
			opacity: 0;
			z-index: 2;
			-webkit-touch-callout: none;
		}

		// Hamburger Menu
		span {
			display: block;
			width: 33px;
			height: 4px;
			margin-bottom: 5px;
			position: relative;
			background: $menu-hamburger-color;
			border-radius: 3px;
			z-index: 1;
			transform-origin: 4px 0px;
			transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
						opacity 0.55s ease;
		}

		span:first-child {
			transform-origin: 0% 0%;
		}

		span:nth-last-child(2) {
			transform-origin: 0% 100%;
		}

		// Transform all the slices of hamburger into a crossmark.
		input:checked ~ span {
			opacity		: 1;
			transform	: rotate(45deg) translate(-2px, -1px);
			background	: $menu-close-cross-color;
		}

		// hide the middle one.
		input:checked ~ span:nth-last-child(3) {
			opacity: 0;
			transform: rotate(0deg) scale(0.2, 0.2);
		}

		// last one should go the other direction
		input:checked ~ span:nth-last-child(2) {
			transform: rotate(-45deg) translate(0, -1px);
		}

		input:checked ~ ul {
			transform: none;
		}
	}

	#menu {
		position: absolute;
		width: 300px;
		margin: -100px 0 0 -50px;
		padding: 50px;
		padding-top: 125px;

		background: $menu-background-color;
		list-style-type: none;
		-webkit-font-smoothing: antialiased;

		transform-origin: 0% 0%;
		transform: translate(-100%, 0);

		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);

		li {
			padding: 10px 0;
			font-size: 22px;
		}
	}
}