// https://www.color-blindness.com/color-name-hue/
$color-knight-rider: #333;
$color-silver: silver;
$color-white: white;
$color-black: black;
$color-midgrey: #686a6f;
$color-orange: #FFA500;
$color-grape: #43414e;

$primary-text-color: $color-knight-rider;
$separator-color: $color-silver;
$border-light-color: $separator-color;
$background-color: $color-white;
$separator-border-color: $separator-color;
$a-hover-color: $color-black;
$a-hover-underline: $color-grape;
$a-visited: $color-midgrey;
$a-link: $color-midgrey;

$separator-border-width: 1px;
$separator-border-style: solid;

$size-subtext: .75rem;

body {
	padding: 20px 0px 60px;
	margin: 0;
	color: $primary-text-color;

	a:visited {
		color: $a-visited;
		text-decoration: none;
	}

	a:link {
		color: $a-visited;
		text-decoration: none;
	}

	a:hover {
		color: $a-hover-color;
		border-bottom: $separator-border-width $separator-border-style $a-hover-underline;
	}

	.blog-header {
		background-color: $background-color;
		width: 100%;
		height: 110px;
		border-bottom: $separator-border-width $separator-border-style $border-light-color;
		padding: 0px 0px;
		margin-bottom: 50px;

		.header-logo {
			float: left;
			text-align: center;
		}

		ul.header-nav {
			list-style-type: none;
			margin: 0;
			padding: 0;
			text-align: center;

			li {
				display: inline;

				a {
					text-align: center;
					margin: 14px 16px;
					text-decoration: none;
				}

				.external-links {
					float : right;
				}
			}
		}
	}

	.nav-bar {
		width: 100%;
		height: 60px;
	}

	.Content {
		flex: 1;
		display: flex;
		flex-direction: column;

		.comment-container {
			margin: 10px 0px;

			.comment-reply {
				.comment-reply-content {
					margin: 10px 0px 10px 25px;
				}

				.comment-reply-info {
					float: right;
				}
			}

			.comment-reply-cancel-text {
				display: inline;
				color: $color-orange;
				font-size: .8em;
			}

			.comment-reply-cancel-text:hover {
				cursor: pointer;
				color: $a-hover-color;
			}

			.comment-separator {
				border: $separator-border-width $separator-border-style $separator-border-color;
				margin: 10px;
			}
		}

		.comment-posted {
			font-size: 1.5rem;
		}

		.comment-form-container {
			margin-bottom: 50px;

			input[type=text], input[type=email], textarea {
				width: 50%;
				display: block;
				margin-bottom: 10px;
			}
		}

		.category-posts {
			.category-post {
				margin-bottom: 40px;

				.publish-date {
					font-size: $size-subtext;
				}
			}
		}
	}

	aside {
		ul {
			list-style-type: none;
			padding-left: 5px;

			li {
				list-style-type: none;
				margin-bottom: 15px;
				padding-bottom: 15px;
				border-bottom: $separator-border-width $separator-border-style $separator-border-color;
				width: 75%;
			}
		}

		.aside-sub-section {
			font-size: $size-subtext;
		}
	}
}
